<div class="row">
	<div class="col-sm-12">
		<h3 class="page-header">Deck Search & Compare</h3>
	</div>
</div>

<section class="panel">
	<div class="panel-body">
		<form class="form-horizontal">

			<div class="form-group">
				<label class="col-sm-2 control-label">Collection</label>
				<div class="col-sm-10">
					<select class="form-control" ng-model="collection"
						ng-change="diff()">
						<option value="">All</option>
						<option value="hearthpwnRepository">Hearthpwn</option>
						<option value="hearthstoneTopDeckRepository">Hearthstone
							TopDecks</option>
						<option value="icyVeinsDeckRepository">IcyVeins</option>

						<option value="tempoStormDeckRepository">Tempo Storm</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Cards</label>
				<div class="col-sm-10">
					<tags-input ng-model="searchCards" placeholder="Add a card"
						add-from-autocomplete-only="true" key-property="id"
						display-property="name" replace-spaces-with-dashes="false"
						on-tag-added="diff()" on-tag-removed="diff()"> <auto-complete
						source="getCardsMatchingName($query)" min-length="1"
						max-results-to-show="100" display-property="name">
					</auto-complete> </tags-input>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Classes</label>
				<div class="col-sm-10">
					<label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Druid" ng-click="diff()">Druid
					</label> <label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Hunter" ng-click="diff()">Hunter
					</label> <label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Mage" ng-click="diff()">Mage
					</label> <label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Paladin" ng-click="diff()">Paladin
					</label> <label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Priest" ng-click="diff()">Priest
					</label> <label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Rogue" ng-click="diff()">Rogue
					</label> <label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Shaman" ng-click="diff()">Shaman
					</label> <label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Warlock" ng-click="diff()">Warlock
					</label> <label class="checkbox-inline"> <input type="checkbox"
						ng-model="playerClass.Warrior" ng-click="diff()">Warrior
					</label>
				</div>
			</div>

			<div class="form-group">

				<label class="col-sm-2 control-label">Min Required Dust</label>
				<div class="col-sm-2">
					<select class="form-control" ng-model="minRequiredDust"
						ng-change="diff()">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="1000">1000</option>
						<option value="2000">2000</option>
						<option value="3000">3000</option>
						<option value="4000">4000</option>
						<option value="5000">5000</option>
					</select>
				</div>

				<label class="col-sm-2 control-label">Max Required Dust</label>
				<div class="col-sm-2">
					<select class="form-control" ng-model="maxRequiredDust"
						ng-change="diff()">
						<option value="">Any</option>
						<option value="0">0</option>
						<option value="1000">1000</option>
						<option value="2000">2000</option>
						<option value="3000">3000</option>
						<option value="4000">4000</option>
						<option value="5000">5000</option>
					</select>
				</div>

				<div class="col-sm-2">
					<a class="btn btn-primary form-control"
						ng-click='minRequiredDust=0; maxRequiredDust=0; diff()'>
						Complete</a>
				</div>

				<div class="col-sm-2">
					<a class="btn btn-primary form-control"
						ng-click='minRequiredDust=1; maxRequiredDust=""; diff()'>Incomplete</a>
				</div>

			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Required Card Set</label>
				<div class="col-sm-10">
					<select class="form-control" ng-model="cardSet"
						ng-change="diff()">
						<option value="">All</option>
						<option value="The Grand Tournament">The Grand Tournament</option>
					</select>
				</div>
			</div>

		</form>
	</div>
</section>

<hr>

<section class="panel">

	<div class="panel-heading">Found {{ diffs.length }} results.</div>

	<div class="panel-body">

		<div class="panel-content">Top 10 missing cards (click to
			filter):</div>

		<ol class="list-group">
			<a href="#/" class="list-group-item"
				ng-click="filterByCard(deckCard.card)"
				ng-repeat="deckCard in allMissingCards | orderBy: '-dustValue' | limitTo:10">
				{{ deckCard.cardName }} ({{ deckCard.numCards }})</a>
		</ol>

		<div class="panel-content">All Results:</div>

		<table class="table table-condensed table-bordered table-striped"
			ng-controller="TableSortController">
			<thead>
				<tr>
					<th class="col-sm-4">Deck Name</th>
					<th class="col-sm-1"><a href="#/"
						ng-click='sortType = "requiredDust"; sortReverse = !sortReverse'>Required
							Dust</a> <span ng-show='sortType == "requiredDust" && !sortReverse'
						class="fa fa-caret-up"></span> <span
						ng-show='sortType == "requiredDust" && sortReverse'
						class="fa fa-caret-down"></span></th>
					<th class="col-sm-1"><a href="#/"
						ng-click='sortType = "fullDustValue"; sortReverse = !sortReverse'>Full
							Dust Value</a> <span
						ng-show='sortType == "fullDustValue" && !sortReverse'
						class="fa fa-caret-up"></span> <span
						ng-show='sortType == "fullDustValue" && sortReverse'
						class="fa fa-caret-down"></span></th>
					<th class="col-sm-1"><a href="#/"
						ng-click='sortType = "percentComplete"; sortReverse = !sortReverse'>Percent
							Complete</a><span
						ng-show='sortType == "percentComplete" && !sortReverse'
						class="fa fa-caret-up"></span> <span
						ng-show='sortType == "percentComplete" && sortReverse'
						class="fa fa-caret-down"></span></th>
					<th class="col-sm-1"><a href="#/"
						ng-click='sortType = "rating"; sortReverse = !sortReverse'>Rating</a>
						<span ng-show='sortType == "rating" && !sortReverse'
						class="fa fa-caret-up"></span> <span
						ng-show='sortType == "rating" && sortReverse'
						class="fa fa-caret-down"></span></th>
					<th class="col-sm-1"><a href="#/"
						ng-click='sortType = "rankingMetric"; sortReverse = !sortReverse'>Ranking
							Metric</a><span ng-show='sortType == "rankingMetric" && !sortReverse'
						class="fa fa-caret-up"></span> <span
						ng-show='sortType == "rankingMetric" && sortReverse'
						class="fa fa-caret-down"></span></th>
					<th class="col-sm-3"><a href="#/"
						ng-click='sortType = "numMissingCards"; sortReverse = !sortReverse'>Missing
							Cards</a> <span
						ng-show='sortType == "numMissingCards" && !sortReverse'
						class="fa fa-caret-up"></span><span
						ng-show='sortType
						== "numMissingCards" && sortReverse'
						class="fa fa-caret-down"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="deckDiff in diffs | orderBy:sortType:sortReverse | filter:diffFilter">
					<td><a href="{{ deckDiff.desiredDeck.url }}" target="_blank">{{
							deckDiff.desiredDeck.name }}</a></td>
					<td>{{ deckDiff.requiredDust }}</td>
					<td>{{ deckDiff.fullDustValue }}</td>
					<td>{{ deckDiff.percentComplete | number : 0 }}%</td>
					<td>{{ deckDiff.rating | number : 0 }}</td>
					<td>{{ deckDiff.rankingMetric | number : 0 }}</td>
					<td>

						<ul>
							<li ng-repeat="card in deckDiff.missingCards.cards">{{
								card.numCards }}x {{ card.cardName }}</li>
						</ul>

					</td>
				</tr>
			</tbody>
		</table>

	</div>

</section>