<div class="row">
	<div class="col-sm-12">
		<h3 class="page-header">Deck Search & Compare</h3>
	</div>
</div>

<section class="panel">
	<div class="panel-body">
		<form class="form-horizontal">

			<div class="form-group">
				<label class="col-sm-2 control-label">Collection</label>
				<div class="col-sm-10">
					<select class="form-control" ng-model="collection"
						ng-change="diff()">
						<option value="">All</option>
						<option value="hearthstoneTopDeckRepository">Hearthstone
							TopDecks</option>
						<option value="icyVeinsDeckRepository">IcyVeins</option>

						<option value="tempoStormDeckRepository">Tempo Storm</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Cards</label>
				<div class="col-sm-10">
					<tags-input ng-model="searchCards" placeholder="Add a card"
						add-from-autocomplete-only="true" key-property="id"
						display-property="name" replace-spaces-with-dashes="false"
						on-tag-added="diff()" on-tag-removed="diff()"> <auto-complete
						source="getCardsMatchingName($query)" min-length="1"
						max-results-to-show="100" display-property="name">
					</auto-complete> </tags-input>
				</div>
			</div>

		</form>
	</div>
</section>

<hr>

<section class="panel">

	<div class="panel-heading">
		Found {{ diffs.length }} results. Top 5 missing cards (click to
		filter):
		<ol class="list-group">
			<a href="#/" class="list-group-item"
				ng-click="filterByCard(deckCard.card)"
				ng-repeat="deckCard in allMissingCards | orderBy: '-dustValue' | limitTo:5">
				{{ deckCard.cardName }} ({{ deckCard.numCards }})</a>
		</ol>
	</div>

	<div class="panel-body">

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Class</th>
					<th>Deck Name</th>
					<th>Required Dust</th>
					<th>Full Dust Value</th>
					<th>Percent Complete</th>
					<th>Ranking Metric</th>
					<th>Missing Cards</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="deckDiff in diffs | orderBy:['-rankingMetric'] | filter:diffFilter">
					<td>{{ deckDiff.desiredDeck.playerClass }}</td>
					<td><a href="{{ deckDiff.desiredDeck.url }}" target="_blank">{{
							deckDiff.desiredDeck.name }}</a></td>
					<td>{{ deckDiff.requiredDust }}</td>
					<td>{{ deckDiff.fullDustValue }}</td>
					<td>{{ deckDiff.percentComplete | number : 0 }}%</td>
					<td>{{ deckDiff.rankingMetric | number : 0 }}</td>
					<td>

						<ul>
							<li ng-repeat="card in deckDiff.missingCards.cards">{{
								card.numCards }}x {{ card.cardName }}</li>
						</ul>

					</td>
				</tr>
			</tbody>
		</table>

	</div>

</section>